# Byte-compiled / optimized / DLL files
__pycache__
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.pyc

# Dependency directories
.venv/
pip-wheel-metadata/
